
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.form_part{
    width: 600px;
    margin: 0 auto;
    background-color:antiquewhite;
}
h1{
    text-align: center;
    background-color:antiquewhite;
    margin-bottom: 50px;
}
.form_part{
    /* width: 600px; */
    margin: 0 auto;
    background-color: beige;
}
.form_1{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    
}
.form_name{
    margin-left: 2px;
}
#fname{
    width: 190px;
    height: 35px;
    border: 1px solid #c5c5c5;
    border-radius: 5px;
    background: rgb(229 231 235) !important;
    color: #495057;
    font-size: 14px;
    padding-left: 3px;
}
#lname{
    width: 190px;
    height: 35px;
    border: 1px solid #c5c5c5;
    border-radius: 5px;
    background: rgb(229 231 235) !important;
    color: #495057;
    font-size: 14px;
    padding-left: 3px;
}
#dob{
    width: 190px;
    height: 35px;
    border: 1px solid #c5c5c5;
    border-radius: 5px;
    background: rgb(229 231 235) !important;
    color: #495057;
    font-size: 14px;
    padding-left: 3px;
    text-transform: uppercase;
}
.phone_part{
    margin: 15px 0;
}
#nid{
    width: 190px;
    height: 35px;
    border: 1px solid #c5c5c5;
    border-radius: 5px;
    background: rgb(229 231 235) !important;
    color: #495057;
    font-size: 14px;
    padding-left: 3px;
}
#number{
    width: 190px;
    height: 35px;
    border: 1px solid #c5c5c5;
    border-radius: 5px;
    background: rgb(229 231 235) !important;
    color: #495057;
    font-size: 14px;
    padding-left: 3px;
}
#email{
    width: 190px;
    height: 35px;
    border: 1px solid #c5c5c5;
    border-radius: 5px;
    background: rgb(229 231 235) !important;
    color: #495057;
    font-size: 14px;
    padding-left: 3px;
}
.academy{
margin: 15px 0;
}
#ssc_roll{
    width: 190px;
    height: 35px;
    border: 1px solid #c5c5c5;
    border-radius: 5px;
    background: rgb(229 231 235) !important;
    color: #495057;
    font-size: 14px;
    padding-left: 3px;
}
#hsc_roll{
    width: 190px;
    height: 35px;
    border: 1px solid #c5c5c5;
    border-radius: 5px;
    background: rgb(229 231 235) !important;
    color: #495057;
    font-size: 14px;
    padding-left: 3px;
}
#degre{
    width: 190px;
    height: 35px;
    border: 1px solid #c5c5c5;
    border-radius: 5px;
    background: rgb(229 231 235) !important;
    color: #495057;
    font-size: 14px;
    padding-left: 3px;
}
.academy_2{

margin: 15px 0;
}
#subject{
    width: 190px;
    height: 35px;
    border: 1px solid #c5c5c5;
    border-radius: 5px;
    background: rgb(229 231 235) !important;
    color: #495057;
    font-size: 14px;
    padding-left: 3px;
}
#college_name{
    width: 190px;
    height: 35px;
    border: 1px solid #c5c5c5;
    border-radius: 5px;
    background: rgb(229 231 235) !important;
    color: #495057;
    font-size: 14px;
    padding-left: 3px;
}
#result_date{
    width: 190px;
    height: 35px;
    border: 1px solid #c5c5c5;
    border-radius: 5px;
    background: rgb(229 231 235) !important;
    color: #495057;
    font-size: 14px;
    padding-left: 3px;
}
.location{
    
margin: 15px 0;
}
#pres_edu{
    width: 190px;
    height: 35px;
    border: 1px solid #c5c5c5;
    border-radius: 5px;
    background: rgb(229 231 235) !important;
    color: #495057;
    font-size: 14px;
    padding-left: 3px;
}
#city{
    width: 190px;
    height: 35px;
    border: 1px solid #c5c5c5;
    border-radius: 5px;
    background: rgb(229 231 235) !important;
    color: #495057;
    font-size: 14px;
    padding-left: 3px;
}
.btn{
    
text-align: center;
}
button{
    font-size: 20px;
    padding: 10px 200px;
    background: #e37272;
    border-radius: 10px;
    border: none;
    color: white;
    text-transform: uppercase;
}